body {font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 0px 28px -9px rgba(66, 68, 90, 1);
  }
  
  form {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1rem;
    box-shadow: 0px 0px 28px -9px rgba(66, 68, 90, 1);
    border-radius: 15px;
  }
  form * {
    margin: 0.3rem;
  }